<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Crear Cuenta</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-register.css">

</head>

<body>
    <header>
        <div class="header-1">
            <img class="header-logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="50%">
            <div class="buscar">
                <input type="text" placeholder="Buscar productos, marcas" required>
                <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <nav>
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register.html">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="#Ingresar">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#MisCompras">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="" class="creacion-formulario">
            <div class="control-form">
                <label for="nombre">Nombre y apellido</label>
                <input type="text" name="name" id="nombre" class="control">
            </div>

            <div class="control-form">
                <label for="">Nombre de usuario</label>
                <input type="text" name="nameUser" id="" class="control">
            </div>

            <div class="control-form">
                <label for="fecha">Fecha de nacimiento</label>
                <input type="date" name="fechaNaci" id="fecha" class="control">
            </div>

            <div class="control-form">
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domic" id="domicilio" class="control">
            </div>

            <div class="control-form">
                <label for="perfil">Perfil de usuario</label>
                <div class="radios">
                    <label for="">Comprador<input type="radio" name="perfil" id="perfil" value="comprador" > </label>
                    <label for="">Vendedor<input type="radio" name="perfil" id="perfil" value="vendedor" > </label>
                </div>

            </div>

            <div class="control-form">
                <label for="categorias">Interes</label>
                <div class="checkbox">
                    <input type="checkbox" name="categorias" id="categorias">
                    <label for="">Electro</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="categorias" id="categorias">
                    <label for="">Moda</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="categorias" id="categorias">
                    <label for="">Hogar</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="categorias" id="categorias">
                    <label for="">Juguetería</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="categorias" id="categorias">
                    <label for="">Vida sana</label>
                </div>
            </div>

            <div class="control-form">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="control">
            </div>

            <div class="control-form">
                <label for="foto">Foto de usuario</label>
                <input type="file" name="foto" id="foto" class="control">
            </div>
            <div class="control-form">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="" id="contraseña" class="control">
            </div>
            <div class="control-form">
                <label for="confirpass">Confirmar contraseña</label>
                <input type="password" name="" id="confirpass" class="control">
            </div>
            

            <button type="submit" class="boton-formulario" boton-formulario>Enviar</button>
            <button type="reset" class="boton-formulario" boton-formulario>Borrar</button>


        </form>





    </main>

    <footer>
        <div class="sect-footer">
            <div class="credito"><i class="fa-solid fa-credit-card"></i></div>
            <div class="info-footer">
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>

        </div>
        <div class="sect-footer">
            <div class="credito"> <i class="fa-solid fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div class="sect-footer">
            <div class="credito"> <i class="fa-solid fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        <div class="copy">
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
    </footer>